@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
body{
    font-family: 'Mukta', sans-serif;
    font-style: normal;
}

#main-header{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 15px;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration-line: none;
    font-size: 35px;
    color: black;
    margin-bottom: 10px;
}

.logo__image{
    margin-right: 15px;
    width: 100px;
    height: 100px;
}

.shop-title{
    display: flex;
justify-content: center;
}

#shop{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.products-container{
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
}

.product{
    max-width: 300px;
    transition: 0.5s;
    transform: scale(1);
    background-color: white;
    margin-top: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-right: auto;
    box-shadow: 0px 8px 15px -5px rgba(0,0,0,0.75);
}

.product:hover{
    transition: 0.5s;
    transform: scale(1.05);
    z-index: 1;
    }

.product__thumbnail{
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background-size: cover;
}

.product__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__title, .product__price, .produc__details{
    margin: 0 auto;
}

.product__title{
    text-align: center;
    width: 100%;
    background-color: #f5f5f5;
}

.product__price{
    font-size: 25px;
}

.per-kg{
    font-size: 16px;
}

.product__btn{
    box-sizing: border-box;
    width: 95%;
    margin-bottom: 10px;
    height: 40px;
    background-color: #5bd182;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.product__btn:hover{
    background-color: #3ead63;  
}

.product__btn:active{
    background-color: #329151;  
}

#main-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #d0d0d0;
}